<h1>Partida iniciada</h1>
<p> Su carton tiene los siguientes numeros: </p>
<TABLE BORDER CELLPADDING=10 CELLSPACING=0>
	<TR>
		<TD BGCOLOR=<%= @@bingo.retornarCartonJugador[0][1] %> > <%= @@bingo.retornarCartonJugador[0][0] %></TD>
		<TD BGCOLOR=<%= @@bingo.retornarCartonJugador[1][1] %> ><%= @@bingo.retornarCartonJugador[1][0] %></TD>
		<TD BGCOLOR=<%= @@bingo.retornarCartonJugador[2][1] %> ><%= @@bingo.retornarCartonJugador[2][0] %></TD>
		<TD BGCOLOR=<%= @@bingo.retornarCartonJugador[3][1] %> ><%= @@bingo.retornarCartonJugador[3][0] %></TD>
		<TD BGCOLOR=<%= @@bingo.retornarCartonJugador[4][1] %> ><%= @@bingo.retornarCartonJugador[4][0] %></TD>
	</TR>
</TABLE>
<br>
<form method="post" action="/sacarBolilla">
	<input type="submit" value="Sacar bolilla">
</form>

<p> Bolilla obtenida: <%= @@bingo.retornarBolillaSalida %> </p>

<p> RESULTADO: <%= @@resultado %> </p>
